@import './root-styles.css';
@import './root-typography.css';

/* STATIC STYLES */

main {
  display: flex;
  flex-direction: column;
}

/* RESPONSIVE STYLES */

section {
  padding: 4rem 2rem;
  margin: 0 auto;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}