@import './root-styles.css';
@import './root-typography.css';

/* STATIC STYLES */

main {
  display: flex;
  flex-direction: column;
}

.section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bigger-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

/* RESPONSIVE STYLES */

section {
  padding: 5rem 2rem;
  margin: 0 auto;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}