/* STATIC STYLES */


/* RESPONSIVE STYLES */

#about {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}