/* BASIC STYLES */

.actions {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

/* RESPONSIVE STYLES */

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}