@import './root-styles.css';
@import './root-utils.css';
@import './utils.css';

/* STATIC STYLES */

/* RESPONSIVE STYLES */

.container {
  width: 75%;
  margin: 0 auto;
}

section {
  font-size: 1.1rem;
  padding: 3em 0 12em 0;
}

@media (max-width: 1200px) {
  section {
    padding: 2em 0 18em 0;
  }
}

@media (max-width: 992px) {
  .container {
    width: 85%;
  }

  section {
    padding: 2em 0 12em 0;
  }
}

@media (max-width: 768px) {
  section {
    padding: 2em 0 6em 0;
  }
}

@media (max-width: 576px) {
  .container {
    width: 90%;
  }

  section {
    padding: 1em 0 2em 0;
  }
}