/* zmienne: https://colorhunt.co/palettes/dark */
:root {
  --color-primary: hsl(205, 100%, 65%);
  --color-primary-dark: hsl(205, 100%, 50%);
  --color-primary-darker: hsl(205, 100%, 35%);
  --color-primary-darkest: hsl(205, 100%, 20%);

  --color-primary-text: hsl(205, 100%, 95%);
  --color-primary-text-dark: hsla(205, 100%, 95%, 0.7);

  --color-secondary: hsl(208, 58%, 30%);
  --color-secondary-dark: hsl(208, 58%, 19%);
  --color-secondary-darker: hsl(208, 58%, 7%);

  --color-blur: hsla(205, 100%, 65%, 0.1);
  --color-card: hsla(205, 100%, 65%, 0.7);

  --ff: "Poppins", sans-serif;
  --fw: 500;

  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
}


html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}


body {
  font-family: var(--ff);
  font-weight: var(--fw);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
  background: var(--color-secondary-darker);
  color: var(--color-primary-text);
}


input, textarea, button, select, a {
  -webkit-tap-highlight-color: transparent;
}


img {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}