.color-primary {
  color: var(--color-primary)
}

.color-primary-dark {
  color: var(--color-primary-dark)
}

.color-primary-text {
  color: var(--color-primary-text)
}

.color-primary-text-dark {
  color: var(--color-primary-text-dark)
}

.color-secondary {
  color: var(--color-secondary)
}

.color-secondary-dark {
  color: var(--color-secondary-dark)
}

.section-header h1 {
  font-size: 2em;
}

.section-header h2 {
  font-size: 1.8em;
}

.section-header h3 {
  font-size: 1.6em;
}

.section-header h4 {
  font-size: 1.4em;
}

.section-header h5 {
  font-size: 1.2em;
}