/* STATIC STYLES */

#experience {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  width: 100%;
  background-color: var(--color-primary-darkest);
}

/* RESPONSIVE STYLES */

.experience-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}