#hero {
  background: linear-gradient(45deg, var(--color-secondary), var(--color-neutral));

  font-size: 1.1em;
}


.container-hero {
  flex-direction: row;
  justify-content: space-evenly;
}

.container-hero h4 {
  color: var(--color-neutral-darker);
}

.container-hero h1 {
  color: var(--color-primary);
}

.container-hero h3 {
  color: var(--color-neutral-darker);
}


@media screen and (width > 82rem) {
  #hero {
    height: calc(100vh - 5rem);
  }
}

@media screen and (width <= 82rem) {
  #hero {
    height: calc(100vh - 5rem);
  }
}

@media screen and (width <= 62rem) {
  #hero {
    transition: height 200ms ease;
    height: 100vh;
    height: 100dvh;
  }
  .container-hero {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }
}

@media screen and (width <= 43rem) {
  #hero {
    transition: height 200ms ease;
    height: 100vh;
    height: 100dvh;
    padding-bottom: 5rem;
  }
  .container-hero {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }
}