#portfolio {
  background: linear-gradient(45deg, var(--color-neutral-darker), var(--color-neutral-dark), var(--color-neutral-darker));
}

.portfolio-container {
  display: flex;
  flex-direction: column;
}

.portfolio-content {
  display: flex;
  flex-direction: column;

  gap: 3rem;
}


.portfolio-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2rem;
  margin-bottom: 2rem;
}

.html-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2rem;
}


.link {
  margin-left: 15px;
}


.portfolio-img-container {
  margin: 0 3rem;
}

.portfolio-img {
  height: 25rem;
  object-fit: contain;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.carousel.carousel-slider {
  padding: 0 0 3rem 0;
  display: flex;
  justify-content: center;
}

.carousel.carousel-slider .control-arrow {
  display: none;
}

.carousel .control-dots .dot {
  width: 0.6rem !important;
  height: 0.6rem !important;
}


@media screen and (width > 82rem) {
  #portfolio {
    margin-block: 6rem;
  }
}

@media screen and (width <= 82rem) {
  #portfolio {
    margin-block: 5rem;
  }
}

@media screen and (width <= 62rem) {
  #portfolio {
    margin-block: 4rem;
  }
  .portfolio-content {
    gap: 2rem;
  }
}

@media screen and (width <= 43rem) {
  #portfolio {
    margin-block: 3rem;
  }
  .portfolio-content {
    gap: 1.5rem;
  }

  .carousel {
    display: none;
  }
}