/* BASIC STYLES */

section#contact {
  flex-direction: column;
  gap: 5rem;
}

/* RESPONSIVE STYLES */

.contact-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

@media (max-width: 1200px) {
  .contact-cards {
    gap: 4rem;
  }
}

@media (max-width: 992px) {
  .contact-cards {
    gap: 3rem;
  }
}

@media (max-width: 768px) {
  .contact-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 576px) {
  .contact-cards {
    gap: 1rem;
  }
}
