/* STATIC STYLES */

.experience-content-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.experience-content-card > p {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.experience-content-card > p > .color-secondary:first-child {
  margin-right: 1rem;
}

.card2:nth-child(1) {
  grid-area: front;
}
.card2:nth-child(2) {
  grid-area: back;
}
.card2:nth-child(3) {
  grid-area: others;
}

/* RESPONSIVE STYLES */

.experience-content {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 3rem;
  width: 100%;
  grid-template-areas: "front back others";
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
  .experience-content {
    grid-template-areas:
      "front back"
      "front others";
  }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
  .experience-content {
    grid-template-areas:
      "front"
      "back"
      "others";
  }
}