@import './root-styles.css';


.background-neutral {
  background: var(--color-neutral-dark);
}
.background-primary {
  background: var(--color-primary);
}
.color-neutral {
  color: var(--color-neutral-dark);
}
.color-primary {
  color: var(--color-primary);
}
.color-primary-dark {
  color: var(--color-primary-dark);
}
.color-secondary {
  color: var(--color-secondary);
}


section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-primary);
}

.section-header {
  margin-bottom: 2rem;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.container h4 {
  color: var(--color-primary-dark);
}

.container h1 {
  font-size: 2em;
  color: var(--color-secondary);
}

.container h3 {
  color: var(--color-primary);
}


a {
  color: var(--color-secondary);
  transition: color 300ms ease;
}
a:hover {
  color: var(--color-primary);
}


.bigger-icon {
  width: 1.5rem;
  height: 1.5rem;
}


@media screen and (width > 82rem) {
  body {
    font-size: 1.2rem;
  }
  section {
    padding: 6rem 9rem;
  }
  section:last-of-type {
    padding-bottom: 12rem;
  }
}

@media screen and (width <= 82rem) {
  body {
    font-size: 1.1rem;
  }
  section {
    padding: 5rem 6rem;
  }
  section:last-of-type {
    padding-bottom: 12rem;
  }
}

@media screen and (width <= 62rem) {
  body {
    font-size: 1.1rem;
  }
  section {
    padding: 4rem 5rem;
  }
  section:first-of-type {
    padding-top: 0rem;
  }
  section:last-of-type {
    padding-bottom: 8rem;
  }
}

@media screen and (width <= 43rem) {
  body {
    font-size: 0.8rem;
  }
  section {
    padding: 3rem 3rem;
  }
  section:first-of-type {
    padding-top: 0rem;
  }
  section:last-of-type {
    padding-bottom: 6rem;
  }
}


.button {
  color: var(--color-primary);
  background: var(--color-neutral-dark);
  border: 1px solid var(--color-neutral-dark);

  padding: 0.5em 1em;
  border-radius: 1.5rem;
  white-space: nowrap;
  
  cursor: pointer;
  transition: background-color 400ms ease;
}

.button:hover {
  color: var(--color-neutral-dark);
  background: var(--color-primary);
}

.button-primary {
  color: var(--color-neutral-dark);
  background: var(--color-secondary);
}



.hidden {
  opacity: 0;
  transition: opacity 1.5s
}
.show {
  opacity: 1;
}
@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}