@import './root-styles.css';
@import './root-utils.css';
@import './utils.css';

/* STATIC STYLES */

.section-header {
  margin-bottom: 2rem;
}

/* RESPONSIVE STYLES */

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  color: var(--color-primary-text);
  padding: 8rem 12rem;
}

section:first-of-type {
  padding-top: 8rem;
}

section:last-of-type {
  padding-bottom: 20rem;
}

@media (max-width: 1200px) {
  section {
    padding: 6rem 9rem;
  }
  
  section:last-of-type {
    padding-bottom: 12rem;
  }
}

@media (max-width: 992px) {
  section {
    padding: 5rem 6rem;
  }

  section:last-of-type {
    padding-bottom: 12rem;
  }
}

@media (max-width: 768px) {
  section {
    padding: 4rem 5rem;
  }

  section:first-of-type {
    padding-top: 0rem;
  }

  section:last-of-type {
    padding-bottom: 8rem;
  }
}

@media (max-width: 576px) {
  section {
    padding: 3rem 3rem;
  }

  section:first-of-type {
    padding-top: 0rem;
  }

  section:last-of-type {
    padding-bottom: 6rem;
  }
}