.bigger-icon {
  width: 1.5rem;
  height: 1.5rem;
}


.hidden {
  opacity: 0;
  transition: opacity 1.5s;
}

.show {
  opacity: 1;
}


section h1 {
  font-size: 2em;
  color: var(--color-secondary);
}

section h3 {
  color: var(--color-primary-text);
}

section h4 {
  color: var(--color-primary-text-dark);
}


a {
  color: var(--color-secondary);
  transition: color 300ms ease;
}

a:hover {
  color: var(--color-primary-text);
}


.button {
  color: var(--color-primary-text);
  background: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
  padding: 0.5em 1em;
  border-radius: 1.5rem;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 400ms ease;
}

.button:hover {
  color: var(--color-primary-dark);
  background: var(--color-primary-text);
}

.button-primary {
  color: var(--color-primary-dark);
  background: var(--color-secondary);
}