/* STATIC STYLES */



/* RESPONSIVE STYLES */

.hero-img {
  height: calc(100vh - 5rem);
  transform: translateY(6px);
}

@media (max-width: 1200px) {
  .hero-img {
    height: calc(100vh - 7rem);
    transform: translateY(5px);
  }
}

@media (max-width: 992px) {
  .hero-img {
    height: 50vh;
    transform: translateY(9px);
  }

  .image-cropper {
    background: var(--color-primary-darker);
    border-radius: 2rem;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}