@media screen and (width > 82rem) {
  .hero-img {
    height: calc(100vh - 5rem);
    transform:  translateY(6px);
  }
}

@media screen and (width <= 82rem) {
  .hero-img {
    height: calc(100vh - 5rem);
    transform:  translateY(5px);
  }
}

@media screen and (width <= 62rem) {
  .hero-img {
    height: 50vh;
  }
  .image-cropper {
    background: var(--color-neutral-darker);
    border-radius: 2rem;
  }
}

@media screen and (width <= 43rem) {
  .hero-img {
    height: 50vh;
  }
  .image-cropper {
    background: var(--color-neutral-darker);
    border-radius: 2rem;
  }
}
