/* STATIC STYLES */

.contact-content-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contact-content-card > .color-secondary:first-child {
  font-size: 1.5rem;
}

.contact-content-card > h5 {
  white-space: nowrap;
}

/* RESPONSIVE STYLES */

.contact-content {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

@media (max-width: 1200px) {
  .contact-content {
    gap: 2rem;
  }
}

@media (max-width: 992px) {
  .contact-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
}

@media (max-width: 768px) {
  .contact-content {
    gap: 2rem;
  }
}

@media (max-width: 576px) {
  .contact-content {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}