/* STATIC STYLES */

.about-content-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.about-content-card > .color-secondary:first-child {
  font-size: 1.5rem;
}

/* RESPONSIVE STYLES */

#about {
  padding-top: 9rem;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 3rem;
  width: 100%;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
  #about {
    padding-top: 7.5rem;
  }
}

@media (max-width: 768px) {
  #about {
    padding-top: 6rem;
  }

  .about-content {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 576px) {
  #about {
    padding-top: 4.5rem;
  }

  .about-content {
    flex-direction: column;
    gap: 1.5rem;
  }
}