/* BASIC STYLES */

section#portfolio {
  flex-direction: column;
  gap: 5rem;
}

.text-gradient {
  background: linear-gradient(to right, var(--color-primary), var(--color-secondary-dark));
  background-clip: text;
  color: transparent;
}

.text-gradient a {
  color: var(--color-secondary-dark);
}

/* RESPONSIVE STYLES */

.portfolio-cards {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

@media (max-width: 1200px) {
  .portfolio-cards {
    gap: 7rem;
  }
}

@media (max-width: 992px) {
  .portfolio-cards {
    gap: 6rem;
  }
}

@media (max-width: 768px) {
  .portfolio-cards {
    gap: 5rem;
  }
}

@media (max-width: 576px) {
  .portfolio-cards {
    gap: 4rem;
  }
}