/* BASIC STYLES */

section#services {
  flex-direction: column;
  gap: 5rem;
}

/* RESPONSIVE STYLES */

.services-cards {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
  .services-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .services-cards > :nth-child(3) {
    grid-column: 1 / -1;
  }
  
  #services .glass-card1:nth-child(3) {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .services-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 576px) {

}