/* STATIC STYLES */


/* RESPONSIVE STYLES */

footer {
  font-size: 0.8em;
  background: var(--color-primary-dark);
  color: var(--color-primary-text);
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 5rem;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
  footer {
    height: 3rem;
  }
}