/* STATIC STYLES */

.glass-card3:hover {
  border: 1px solid var(--color-secondary-dark);
  transform: scale(1.2);
  opacity: 1;
}

.carousel-container {
  margin-top: 1rem;
  margin-bottom: -2rem;
}

.carousel.carousel-slider {
  padding: 0 0 3rem 0;
}

.carousel.carousel-slider .control-arrow {
  display: none;
}

.carousel .control-dots .dot {
  width: 0.6rem !important;
  height: 0.6rem !important;
}

/* RESPONSIVE STYLES */

.glass-card3 {
  backdrop-filter: blur(10px);
  background-color: var(--color-card);
  border: 1px solid var(--color-primary-text-dark);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2em;
  width: 60vw;
  overflow: hidden;
  opacity: 0.96;
  transition: transform 0.5s ease-in-out;
}

.image-container {
  margin: 0 3rem;
}

.image {
  height: 20rem;
  object-fit: contain;
  
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 1200px) {
  .glass-card3 {
    width: 70vw;
  }

  .image {
    height: 19rem;
  }
}

@media (max-width: 992px) {
  .glass-card3 {
    width: 70vw;
  }

  .image {
    height: 14rem;
  }
}

@media (max-width: 768px) {
  .glass-card3 {
    width: 80vw;
  }

  .image-container {
    margin: 0;
  }

  .image {
    height: 7rem;
  }
}

@media (max-width: 576px) {
  .glass-card3 {
    width: 80vw;
  }

  .image-container {
    margin: 0;
  }

  .image {
    height: 5rem;
  }
}