/* STATIC STYLES */

.experience-details {
  display: flex;
  gap: 0.5rem;
  break-inside: avoid-column;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.experience-details-icon {
  color: var(--color-primary);
  margin-top: 6px;
  min-width: 1rem !important;
}

/* RESPONSIVE STYLES */

.experience-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.experience-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
  .experience-container {
    grid-template-columns: 1fr;
  }

  .experience-container > div {
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .experience-container > div {
    width: 70%;
    padding: 1rem;
  }

  .experience-content {
    padding: 0 1rem;
    columns: 10rem;
  }
}

@media (max-width: 576px) {
  .experience-container {
    gap: 1rem;
  }
  
  .experience-container > div {
    width: 90%;
  }

  .experience-content {
    columns: 12rem;
  }
}