/* STATIC STYLES */

.services-content-card > p {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.services-content-card > p > .color-secondary:first-child {
  margin-right: 1rem;
}

/* RESPONSIVE STYLES */

.services-content {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  gap: 3rem;
}

.services-content-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  padding: 1rem 2rem;
}

@media (max-width: 1200px) {
  .services-content {
    flex-direction: row;
    gap: 3rem;
  }

  .services-content-card {
    padding: 0 1rem;
  }
}

@media (max-width: 992px) {
  .services-content {
    flex-direction: column;
    gap: 2rem;
  }

  .services-content-card {
    padding: 0 1rem;
  }
}

@media (max-width: 768px) {
  .services-content {
    flex-direction: column;
    gap: 2rem;
  }

  .services-content-card {
    padding: 0rem 1rem;
  }
}

@media (max-width: 576px) {
  .services-content {
    flex-direction: column;
    gap: 1.5rem;
  }

  .services-content-card {
    padding: 0 1rem;
  }
}