/* BASIC STYLES */

.contact-container {
  display: flex;
  justify-content: center;
  width: 80%;
}

.contact-option a {
  display: inline-block;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.contact-option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

/* RESPONSIVE STYLES */

.contact-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  width: auto;
}

.contact-option {
  text-align: center;
  background: var(--color-bg-variant);
  padding: 2rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  transition: var(--transition);
  display: block;
  width: auto;
  margin-bottom: 0;
}

.contact-option:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
  .contact-options {
    gap: 2rem;
  }
}

@media (max-width: 576px) {
  .contact-options {
    width: var(--container-width-sm);
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .contact-option {
    display: table;
    width: 100%;
    margin-bottom: 2em;
  }
}