/* STATIC STYLES */

footer {
  text-align: center;
  background: var(--color-primary);
  margin-top: 7rem;
  padding: 3rem 0;
  font-size: 0.9rem;
}

footer a {
  color: var(--color-bg);
}

.footer-logo {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.footer-socials a {
  display: flex;
  font-size: 2rem;
  padding: 0.8rem;
  border: 1px solid transparent;
  border-radius: 0.7rem;
  background: var(--color-bg);
  color: var(--color-white);
}

.footer-socials a:hover {
  background: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
}

/* RESPONSIVE STYLES */

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.footer-copyright {
  margin-bottom: 4rem;
  color: var(--color-bg);
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
  
}

@media (max-width: 768px) {
  .footer-socials {
    margin-bottom: 1rem;
  }
}

@media (max-width: 576px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer-socials {
    margin-bottom: 2rem;
  }

  .footer-copyright {
    padding-bottom: 4rem;
  }
}