/* STATIC STYLES */

.socials a {
  font-size: 1.4em;
  color: var(--color-primary-darkest);
}

.socials a:hover {
  color: var(--color-secondary);
}

/* RESPONSIVE STYLES */

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 6rem;
  top: 20vh;
  gap: 1rem;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
  .socials {
    display: none;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}