/* BASIC STYLES */

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel.carousel-slider {
  display: flex;
  justify-content: center;
  padding: 0 0 3rem 0;
}

.carousel.carousel-slider .control-arrow {
  display: none;
}

.carousel .control-dots .dot {
  width: 0.6rem !important;
  height: 0.6rem !important;
}

.portfolio-item-desktop {
  display: flex;
  flex-direction: column;
}

.portfolio-item h3 {
  text-align: center;
}

.portfolio-item h4 {
  color: var(--color-light);
  text-align: center;
}

.portfolio-image-container {
  margin: 0 3rem;
  border-radius: 0.6rem;
}

.portfolio-image {
  right: 0;
  border-radius: 0.6rem;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* RESPONSIVE STYLES */

.portfolio-carousel-mobile {
  width: 20rem;
}

.portfolio-carousel-desktop {
  width: 35rem;
}

.portfolio-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

.portfolio-item {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;

  margin-top: 2rem;
  padding: 2.5rem 2.5rem 0.5rem 2.5rem;
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 2rem;

  transition: var(--transition);
  transform: perspective(750px) translate3d(0px, -100px, -100px) rotateX(25deg) scale(0.95, 1);
}

.portfolio-item:hover {
  transform: translate3d(0px, 0px, -200px);
  background: var(--color-secondary);
  border-color: var(--color-primary-variant);
}

.portfolio-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  margin-top: -3rem;
}

@media (max-width: 1200px) {
  .portfolio-carousel-desktop {
    width: 30rem;
  }
}

@media (max-width: 992px) {
  .portfolio-carousel-mobile {
    width: 20rem;
  }

  .portfolio-carousel-desktop {
    width: 30rem;
  }

  .portfolio-item {
    display: flex;
    flex-direction: column;
  }

  .portfolio-description {
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .portfolio-carousel-mobile {
    width: 50vw;
  }

  .portfolio-carousel-desktop {
    width: 60vw;
  }

  .portfolio-item {
    transform: perspective(750px) translate3d(0px, 0px, -150px) rotateX(20deg) scale(0.95, 1);
  }

  .portfolio-item:hover {
    transform: perspective(750px) translate3d(0px, 0px, -150px) rotateX(20deg) scale(0.95, 1);
  }
}

@media (max-width: 576px) {
  .portfolio-carousel-mobile {
    width: 50vw;
  }

  .portfolio-carousel-desktop {
    width: 60vw;
  }
}