.portfolio-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

.portfolio-item {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  background: var(--color-bg-variant);
  padding: 2.5rem 2.5rem 0.5rem 2.5rem;
  margin-bottom: -5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  transform:
    perspective(750px)
    translate3d(0px, -100px, -100px)
    rotateX(25deg)
    scale(0.95, 1);
}

.portfolio-item:hover {
  border-color: var(--color-primary-variant);
  background: var(--color-secondary);
  transform: translate3d(0px, 0px, -200px);
}

.portfolio-item:not(:last-child) {
  margin-bottom: 2rem;
}

.portfolio-item-desktop {
  display: flex;
  flex-direction: column;
}

.portfolio-description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  margin-right: 1rem;
  width: 90%;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-item h3 {
  text-align: center;
}

.portfolio-item h4 {
  color: var(--color-light);
  text-align: center;
}

.portfolio-item-button {
  display: flex;
  grid-area: 1rem;
  user-select: none;
  margin-bottom: 2rem;
}

.portfolio-image-container {
  margin: 0 3rem;
  border-radius: 0.6rem;
}

.portfolio-image {
  border-radius: 0.6rem;
  right: 0;
  
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.portfolio-carousel-mobile {
  width: 21rem;
}

.portfolio-carousel-desktop {
  margin-top: 2rem;
  width: 40rem;
}

.carousel.carousel-slider {
  padding: 0 0 3rem 0;
  display: flex;
  justify-content: center;
}

.carousel.carousel-slider .control-arrow {
  display: none;
}

.carousel .control-dots .dot {
  width: 0.6rem !important;
  height: 0.6rem !important;
}


@media screen and (max-width: 1024px) {
  .portfolio-item {
    transform:
      perspective(750px)
      translate3d(0px, 0px, -150px)
      rotateX(20deg)
      scale(0.95, 1);
  }
  .portfolio-item:hover {
    transform:
      perspective(750px)
      translate3d(0px, 0px, -150px)
      rotateX(20deg)
      scale(0.95, 1);
  }
  .portfolio-container {
    margin-top: -5rem;
  }
  .portfolio-carousel-mobile {
    width: 18rem;
  }
  .portfolio-carousel-desktop {
    width: 40rem;
  }
}

@media screen and (max-width: 600px) {
  .portfolio-item {
    display: flex;
    flex-direction: column;
  }
  .portfolio-item-button {
    margin: 2rem 0;
  }
  .portfolio-description {
    gap: 0;
  }
  .portfolio-container {
    margin-top: -8rem;
    margin-bottom: 4rem;
  }
  .portfolio-carousel-mobile {
    width: 18rem;
  }
  .portfolio-carousel-desktop {
    width: 30rem;
  }
}