/* STATIC STYLES */

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container p {
  color: var(--color-primary-text-dark);
  margin: 2rem;
  text-align: center;
}

.about-icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.technologies {
  font-size: 1.3rem;
}

/* RESPONSIVE STYLES */

.about-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  gap: 3rem;
}

@media (max-width: 1200px) {
  .about-cards {
    width: 95%;
  }
}

@media (max-width: 992px) {
  .about-cards {
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .about-cards {
    grid-template-columns: repeat(1, 1fr);
    width: 20rem;
    gap: 3rem;
  }
}

@media (max-width: 576px) {
  .about-cards {
    width: 15rem;
    gap: 2rem;
  }
}