.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-cards {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.about-card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
}

.about-card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.about-card h5 {
  font-size: 0.9rem;
}

.about-card small {
  font-size: 0.7rem;
  color: var(--color-light);
}

.about-icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about-container p {
  color: var(--color-light);
  margin: 2rem;
  text-align: center;
}


@media screen and (max-width: 1024px) {
  .about-cards {
    width: 75%;
    gap: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .about-cards {
    width: 90%;
    gap: 1rem;
  }
}